html {
  font-family: helvetica, arial, sans-serif;
  background-color: black;
  color:white;
  background-image: url(../media/TAUST_mustmyra_400px.gif);
  background-repeat: repeat;
  background-size: 5vh;
}

h1 {
  font-style: italic;
  color: #ffffff;
}

p {
  color: #ffffff;
}

.hidden {
  display:none;
}

.main {
  width:100%;
}

.title {
  margin-top: 12.5vh;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
